body{
	font-family: 'Open Sans', sans-serif;
	position: relative;
}

hr{
	border-color: #4d4d4d;
}

footer a{
	color: #f2f2f2;
}

footer a:hover{
	color: #ffda52;
}

footer, .white{
	color:#f2f2f2;
}

input{
	height: 2.3em;
}

.navbar a{
	padding-top: 10px;
}

.navbar-inverse{
	background-color: rgba(34, 34, 34, 0.8);
	border-color: rgba(34, 34, 34, 0.7);
}

.margin-top{
	margin-top: 70px;
}

.margin-bottom{
	margin-bottom: 70px;
}

.jumbotron{
	margin:0;
	min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    background: radial-gradient(#f6f4f1, #c2bfba);
}

.jumbotron a{
	color: #4d4d4d;
}

.bold{
	font-weight: 800;
}

.flex-box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.orange{
	color:#ffda52;
}

.bg-orange{
	background-color:#ffda52;	
}

.bg-image{
	background-image: url(../img/inter.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 200px;
	background-position: center top;
}

.bg-grey{
	background-color: #e6e6e6;
}

.bg-white{
	background-color: #f2f2f2;
}

.left-content{
	width: 60%;
	float: right;
}

.right-content{
	width: 70%;
	margin: 0 auto;
}

.text-justify{
	text-align: justify;
}

.row-table {
    display: table;
}

.row-table [class*="col-"] {
    display: table-cell;
    float: none;
    vertical-align: middle;
    /* Propiedades de estilo, no afectan al funcionamiento */
}

.bg-gradient{	
	background: linear-gradient(to right,#d0e7c8, #4fcdc4);
}

.no-padding{
	padding: 0;
}

.bg-portfolio{
	background: linear-gradient(to right,#656b8e, #4d839a,#3799a6);
}

.form-control{
	background-color: transparent;
	border-color: #f2f2f2;
	height: 55px;
}


.btn-warning{
	color:#ffda52;
	background-color: transparent;
	border: 1px solid #ffda52;
}

.bg-footer{
	background: linear-gradient(to right,#603956, #595266,#556270);
}

.video-responsive{
	z-index: -100;
	position: fixed;
}

.border-right{
	border-right: 1px solid #f2f2f2;
}

.border-left{
	border-left: 1px solid #f2f2f2;
}

.full-width{
	width: 100%;
}


/**  Media Queries **/

@media screen and (min-width: 992px){
	.padding-right{
		padding-right: 5%;
	}

}

@media screen and (max-width: 991px) and (min-width: 768px){
	.left-content{
		width: 100%;
		padding: 0 5%;
	}

	.right-content{
		width: 100%;
		padding: 0 5%;

	}

	.row-table [class*="col-"] {
    display: inline-block;
	}

	.text-left-sm {
		text-align: left;
	}

	.margin-bottom-sm{
		margin-bottom: 5%;
	}
}


@media screen and (max-width: 767px){
	.margin-top-xs{
		margin-top: 5%;
	}

	.left-content{
		width: 100%;
		padding: 0 5%;
	}

	.right-content{
		width: 100%;
		padding: 0 5%;
	}

	.row-table [class*="col-"] {
    	display: inline-block;
	}

	.margin-bottom-xs{
		margin-bottom: 5%;
	}

	#parallax{
		display: none;
	}

	#ipad-content{
		display: none;
	}
}
